<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.owenrumney.webcam-watcher</string>
        <key>Program</key>
        <string>/Users/owen/code/owenrumney/webcam-watcher/webcam-watcher</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/com.owenrumney.webcam-watcher.stderr</string>
        <key>StandardOutPath</key>
        <string>/tmp/com.owenrumney.webcam-watcher.stdout</string>
    </dict>
</plist>
